@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{ 
    background:
    linear-gradient(45deg, #92baac 45px, transparent 45px)64px 64px,
    linear-gradient(45deg, #92baac 45px, transparent 45px,transparent 91px, #e1ebbd 91px, #e1ebbd 135px, transparent 135px),
    linear-gradient(-45deg, #92baac 23px, transparent 23px, transparent 68px,#92baac 68px,#92baac 113px,transparent 113px,transparent 158px,#92baac 158px);
    background-color:#e1ebbd;
    background-size: 128px 128px;
    color: #000;
    font-family:Josefin Sans ;
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
}

.container{
    width: 700px;
    height: 250px;
    border: 0;
    display: block;
    border-radius: 25px;
    padding: 24px 42px ;
    background: linear-gradient(100deg, #b9e2d4,#e1ebbd); 
    box-shadow: 0 0 15px rgb(146, 186, 172),
                0 0 18px rgb(146 186 172/0.6),
                0 0 19px rgb( 146 186 172/0.6),
                0 0 10px rgb( 146 186 172/0.7);
}

h1{
    font-size: 50px;
    text-align: center;
    margin-bottom: 30px;
    color:#000;
}

.small-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.col-1{
    width: 40%;
}

select, input{
    font-size: 15px;
    font-weight: 600;
    width: 100%;
    border-radius: 8px;
    margin-bottom: 30px;
    padding: 8px 15px;
    background: #e1ebbd;
}

select:hover{
    background:#b9e2d4;
    
}

button{
    font-size: 17px;
    border-radius: 15px;
    background-color: orangered;
    color: white;
    border: 0;
    width: 200px;
    display: block;
    padding: 10px;
    margin: 25px auto ;
    cursor: pointer;
    transition: box-shadow 0.5s ease-in-out, border-color 0.5s ease-in-out;
}


button:hover{
    background-image:linear-gradient(#A100FFFF,#119cfdff);
    color: #ddd;
    box-shadow: 0 0 5px rgb(161 0 255),
                0 0 8px rgb(161 0 255/0.2),
                0 0 9px rgb( 161 0 255/0.6),
                0 0 10px rgb( 161 0 255/0.3);
    border-color: #fff;
}

@media screen and (max-width:1300px){
    body{
        background-color:#145e61 ;
    }
}

@media screen and (min-width:400px){
    .container{
        background-color: #fff;
    }
}

